/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  color: #A7A9AC;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 71px;
    bottom: 0;
    left: -175px;
    width:225px;
    right: auto;
    z-index: 1000;
    display: block;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #2B313D;
    border-right: 1px solid #eee;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.sidebar.open {
  left:0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Sidebar navigation */
.nav-sidebar-header,
.nav-sidebar,
.app-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.app-sidebar {
  z-index: 1000;
  background-color: #0a0a0a;
  padding: 10px;


  -webkit-animation:opac 0.8s;
  animation:opac 0.8s
}
.app-tile {
  float: left;
  background-color: #2b313d;
  margin: 10px;
  height: 80px;
  width: 80px;
}

.nav-sidebar-header {
  font-size: 16px;
  color: #fff;
  background-color: #222731;
  padding: 15px;
  margin-bottom: 0px;

}
#nav-sidebar-control i {
  font-size: 14px;
  color: #a7a9ac;
  padding: 0px 8px;
}

.nav-sidebar > li > a,
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  padding-right: 20px;
  padding-left: 20px;
  color: #A7A9AC;
}
.nav-sidebar > li > a > i {
  line-height: 20px;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  background-color: #4B5160;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #4B5160;
}

