<!DOCTYPE html>
<section id="ui-brand-identy" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Iconography</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-colors-section" class="container">
  <div class="row">
    <div class="col-md-12 page-header">
      <h1>Colors</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Core Colors</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0">
      <div class="panel panel-default">
        <div class="panel-body"></div>
        <div class="panel-footer">
          Primary
          <br>R43 G49 B61
          <br>Hex #2B313D
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body"></div>
        <div class="panel-footer">
          Secondary
          R75 G81 B96
          Hex #4B5160
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">Blue</div>
        <div class="panel-footer">
          Primary
          <br>R53 G148 B213
          <br>Hex #3594D5
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">light Blue</div>
          <div class="panel-footer">
            Secondary
            <br>R135 G201 B246
            <br>Hex #87C9F6
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0">
      <div class="panel panel-default">
        <div class="panel-body">Dark Yellow</div>
        <div class="panel-footer">
          Secondary
          <br>R221 G172 B0
          <br>Hex #DDAC00
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">Yellow</div>
        <div class="panel-footer">
          Primary
          <br>R255 G199 B0
          <br>Hex #FFC700
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">Light Yellow</div>
        <div class="panel-footer">
          Secondary
          <br>R255 G214 B82
          <br>Hex #FFD652
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0">
      <div class="panel panel-default">
        <div class="panel-body">Green</div>
        <div class="panel-footer">
          Secondary
          <br>R135 G179 B71
          <br>Hex #87B347
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">Red</div>
        <div class="panel-footer">
          Secondary
          <br>R201 G106 B85
          <br>Hex #C96A55
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Neutral Colors</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-icons-section" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Iconography</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-typography-section" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Typography</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Color Variations</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Leading & Kerning</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-portal-navigation-01" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Portal Navigation</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-ecommerce-header-footer" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Ecommerce Header & Footer</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-desktop-applications-header " class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Desktop Applications Header </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-portal-navigation" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Portal Navigation</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-links" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Links</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-radio-buttons" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Radio Buttons</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-toggle-switch" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Toggle Switch</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-sliders" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Sliders</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-line-graphs" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Line Graphs</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-bar-graphs" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Bar Graphs</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-pie-charts" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Pie Charts</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-progress-bars-pagination" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Progress Bars & Pagination</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-scatter-plot-graph" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Scatter Plot Graph</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-application-cards" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Application-Cards</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-dashboard-web-app" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Dashboard Web App</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-data-grids" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Data Grids</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-mobile-layouts" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Mobile Layouts</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-mobile-charts-graphs" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Mobile Chart Graphs</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>

<section id="ui-mobile-navigation" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Mobile Navigation</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>
