<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <div class="brand-container">
        <a class="navbar-brand" href="javascript:void(0);"><img src="assets/img/jbh-logo.png" alt=""></a>
      </div>
    </div>

    <span class="app-name hidden-xs"> AngularBoot Starter</span>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0);"><i class="icon-magnifier large-icons"></i></a></li>
        <li><a href="javascript:void(0);"><i class="icon-bell large-icons"></i></a></li>
        <li class="profile-img"><img src="assets/img/userIcon.PNG" alt=""></li>
      </ul>
    </div>
  </div>
</nav>
